@using Helpers.Models.ContentModels
@using Helpers.Models.DataModels
@using Helpers.Models.PageModels
@model Helpers.Models.PageModels.PrivatePageModel

@{
    var title = @Model?.Person?.FirstName + " " + @Model?.Person?.LastName; ;
    ViewData["Title"] = title;
}

<div class="container">
    <h2>@Model?.Person?.FirstName @Model?.Person?.LastName</h2>
    <img src="@Model?.Person?.Picture" style="max-width:200px; max-height: 200px;" />

    <hr />

    <dl class="dl-horizontal">
        <div class="col-3">
            <h3>Zdjęcia</h3>
            <div>
                <form id="pic-post" method="post" action="http://localhost:57812/api/Photo" enctype="multipart/form-data">
                    <input class="btn btn-default btn-file" type="file" name="files" multiple />
                    <a href="#" class="btn btn-primary">Upload</a>
                </form>


            </div>
            @foreach (var picture in Model?.PhotosGallery?.PhotosPath ?? new List<PhotoModel>())
            {
                <img src="@picture" style="max-width:100px; max-height: 100px;" />
            }
        </div>
        <div class="col-3 friend">
            <h3>Znajomi</h3>
            @foreach (var person in Model?.Friends?.Peoples ?? new List<SimpleProfileModel>())
            {
                <div>
                    <img src="@Model?.Person?.Picture" style="max-width:100px; max-height: 100px;" />
                </div>
                <div>
                    @person.Person?.FirstName @person.Person?.LastName
                </div>
            }
        </div>
        <div class="contentWall">
            <h3>Ściana</h3>
            @foreach (var post in Model?.ContextWall?.Posts ?? new List<PostModel>())
            {
                <div>
                    <h4>@post.Header</h4>
                    @post.Body
                </div>
            }
        </div>
    </dl>
</div>
@section Scripts{
    <script src="~/lib/jquery-form/jquery-form-min.js"></script>
    <script>
        var options = {
            url: 'http://localhost:57812/api/Photo',
            type: 'post',
            success: function () {
                alert(`Dodano zdjęcie`);
            }
        };
        $(`#pic-post a`).click(function () {
            $(`#pic-post`).ajaxSubmit(options)
        })
    </script>
}